
h1 {
    font-family: futura-pt, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: .25em;
    line-height: 1;
    margin: auto;
}

h3 {
    margin: 1px;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.project-container {
    margin: 50px auto;
    width: 1024px;
    height: 300px;
    background-color: #dde;
    border-radius: 4px;
}

.button-container {
    padding: 5px 10px;
    background: #777;
    margin: .5em auto;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #fff;

    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    max-width: 500px;
    text-align: center;
    text-shadow: 1px 1px #666;
}

